<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.appmanager.dao.data_dictionary.Data_DictionaryMapper">
	<select id="getData_DictionaryList" resultType="Data_Dictionary">
		select * from data_dictionary
		<trim prefix="where" prefixOverrides="and|or">
			<if test="typeCode!=null and typeCode!=''">
				and typeCode=#{typeCode}
			</if>
		</trim>
	</select>
	<!--查询平台-->
	<select id="getPlatformList" resultType="Data_Dictionary">
	 SELECT valueName ,valueId FROM data_dictionary 
	 WHERE typeCode='APP_FLATFORM';
	</select>
	
</mapper>