<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.appmanager.dao.app_info.App_InfoMapper">

	<!-- 查询全部信息 -->
	<select id="getApp_InfoList" resultType="App_Info">
		SELECT i.softwareName,i.APKName,i.softwareSize,
		i.flatformId,
		(SELECT
		valueName FROM data_dictionary d WHERE i.flatformId=d.valueId AND
		typeCode='APP_FLATFORM'),
		i.categoryLevel1,
		(SELECT
		categoryName FROM app_category c WHERE c.id=i.categoryLevel1),
		i.categoryLevel2,
		(SELECT categoryName FROM
		app_category c WHERE c.id=i.categoryLevel2),
		i.categoryLevel3,
		(SELECT categoryName FROM app_category c WHERE
		c.id=i.categoryLevel3),
		i.status,
		(SELECT valueName
		FROM data_dictionary d WHERE i.status=d.valueId AND
		typeCode='APP_STATUS'),
		i.downloads,
		i.versionId,
		(SELECT
		versionNo FROM app_version v WHERE i.versionId=v.id)
		FROM
		app_info i



		<trim prefix="where" prefixOverrides="and|or">
			<if test="softwareName!=null and softwareName!=''">
				and i.softwareName like CONCAT ('%',#{softwareName},'%')
			</if>
			<if test="status!=null and status!=''">
				and i.status=#{status}
			</if>
			<if test="flatformId!=null and flatformId!=''">
				and i.flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=null and categoryLevel1!=''">
				and i.categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">
				and i.categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">
				and i.categoryLevel3=#{categoryLevel3}
			</if>
		</trim>
		LIMIT #{start},#{pageSize}
	</select>



	<!-- 查询信息总数 -->
	<select id="getApp_InfoCount" resultType="int">
		SELECT COUNT(1) FROM app_info i
		<trim prefix="where" prefixOverrides="and|or">
			<if test="softwareName!=null and softwareName!=''">
				and i.softwareName like CONCAT ('%',#{softwareName},'%')
			</if>
			<if test="status!=null and status!=''">
				and i.status=#{status}
			</if>
			<if test="flatformId!=null and flatformId!=''">
				and i.flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=null and categoryLevel1!=''">
				and i.categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">
				and i.categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">
				and i.categoryLevel3=#{categoryLevel3}
			</if>
		</trim>
	</select>


	<!-- 查询分级列表 -->
	<select id="getCategoryLevel1List">
		SELECT categoryName FROM app_category c WHERE categoryCode LIKE CONCAT ('%','ALL_','%')
	</select>
	<select id="getCategoryLevel2List">
		SELECT categoryName FROM app_category c 
		WHERE categoryCode LIKE CONCAT ('%','APP_','%')AND parentId=1 OR categoryCode LIKE CONCAT ('%','GAME_','%')AND parentId=2
		<if test="">
		
		</if>
	</select>
	<select id="getCategoryLevel3List">
		SELECT categoryName FROM app_category c 
		WHERE categoryCode LIKE CONCAT ('%','APP_','%')AND parentId=3 OR parentId=4 
		OR categoryCode LIKE CONCAT ('%','GAME_','%')AND parentId=19 OR parentId=20 OR parentId=21 OR parentId=22
	</select>








  

  <!--   修改INFO基本信息 -->
    <insert id="updateAppInfo" parameterType="app_Info" >
    	UPDATE app_info  a SET  a.softwareName=#{app_Info.softwareName} , 
    	a.supportROM=#{app_Info.supportROM},a.`interfaceLanguage`=#{app_Info.interfaceLanguage},
    	a.`softwareSize`=#{app_Info.softwareSize},a.`downloads`=#{app_Info.downloads},
    	a.`flatformId`=#{app_Info.flatformId},a.`categoryLevel1`=#{app_Info.categoryLevel1},
    	a.`categoryLevel2`=#{app_Info.categoryLevel2},a.`categoryLevel3`=#{app_Info.categoryLevel3},
    	a.`appInfo`=#{app_Info.appInfo},a.`logoPicPath`=#{app_Info.logoPicPath}
 		WHERE #{app_Info.appInfo.id};
    </insert>
   <!-- 查询app信息byId -->
   <select id="appInfoById" resultType="App_Info">
    SELECT softwareName,APKName,supportROM,interfaceLanguage,softwareSize,
    downloads,flatformId,categoryLevel1,categoryLevel2,categoryLevel3,
    `status`,appInfo,logoPicPath 
    FROM app_info 
    WHERE id=#{id}
   </select>

</mapper>


